# Druid Ϣ
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    # MySQL 
    url: jdbc:mysql://localhost:3306/test?characterEncoding=utf8&useSSL=true&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
    initialSize: 5
    minIdle: 5
    maxActive: 100
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    filters: stat,wall,log4j
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000

## MyBatis 
#mybatis.mapper-locations=classpath:mapper/.*xml
#mybatis.type-aliases-package=com.qg.exclusiveplug.model
#mybatis.configuration.map-underscore-to-camel-case=true


#Netty 
netty:
  tcp-port: 8090
  boss-count: 1
  worker-count: 10
  keep-alive: true
  backlog: 100