<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qg.exclusiveplug.dao.DeviceMapper">
    <insert id="saveDevices" parameterType="com.qg.exclusiveplug.model.Device">
        INSERT INTO device
        (name, current, voltage, power, date, power_factor,
        frequency, cumulative_power, index_num)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
              #{item.name},
              #{item.current},
              #{item.voltage},
              #{item.power},
              #{item.date},
              #{item.powerFactor},
              #{item.frequency},
              #{item.cumulativePower},
              #{item.index}
            )
        </foreach>
    </insert>
</mapper>